*~
/bin/
/embulk-*/bin/
/pkg/
/embulk-*/pkg/
/tmp/
/embulk-*/tmp/
.gradle/
/embulk-*/.gradle/
classpath/
/embulk-*/classpath/
build/
/embulk-*/build/
.idea
/.settings/
/embulk-*/.settings/
/.metadata/
/embulk-*/.metadata/
.classpath
/embulk-*/.classpath
.project
/embulk-*/.project
